


<div class="flex items-center justify-center mt-4"></div>

    <div>
        <div class="flex w-full flex-row ">
            <a href="#" target="_blank"
            class="flex items-center justify-center w-full px-5 py-3 text-center text-white bg-white "
            rel="noreferrer">
            <img src="chrome.webp" class="h-7 w-7" alt="">
            <div class="flex flex-col ml-2 leading-4 text-left md:ml-3">
               <span class="text-sm text-black">Get it on</span>
               <span class="text-base font-semibold text-black">Chrome Web Store</span>
            </div>
         </a>
         
            <a href="#" target="_blank"
                class="flex items-center justify-center w-full px-5 py-3 text-center text-white bg-white rounded-2xl"
                rel="noreferrer">
                <img src="playstore.png" class="h-8 w-7" alt="">
                <div class="flex flex-col ml-2 leading-4 text-left md:ml-3">
                    <span class="text-sm text-black">Get it </span>
                    <span class="text-base font-semibold text-black">
                    Mobile Apk
                </span>
                </div>
            </a>
        </div>
    </div>

