<div class="mx-auto mt-20 max-w-7xl sm:px-6 lg:px-8">
    <div class="relative isolate overflow-hidden bg-white px-6 py-28 pb-60 text-center sm:px-20 sm:shadow-2xl rounded-3xl">
      <div class="text-2xl font-serif">
        <ng-content class="select-none" select="[page-title]">Easily Download Videos From Various Social Media</ng-content>
      </div>
      
      <app-searchbox></app-searchbox>

      <svg viewBox="0 0 1024 1024"
        class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-x-1/2 [mask-image:radial-gradient(closest-side,white,transparent)]"
        aria-hidden="true">
        <circle cx="512" cy="512" r="512" fill="url(#827591b1-ce8c-4110-b064-7cb85a0b1217)" fill-opacity="0.6">
        </circle>
        <defs>
          <radialGradient id="827591b1-ce8c-4110-b064-7cb85a0b1217">
            <stop stop-color="#0891B2"></stop>
            <stop offset="1" stop-color="#0891B2"></stop>
          </radialGradient>
        </defs>
      </svg>
    </div>
  </div>